table {
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
}

.header-table {
	background-color: black;
	color: white;
	padding: 10px;
}

.edit-tbl:hover {
background-color: white;
}

.table td, .table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 0px solid;
}
table tr:nth-child(even){background-color: #f2f2f2;}

/**/
.btn-warning {
	background-color: unset;
	border: unset;
}

/*edit*/
.edit-category {
	width: 32px;
	height: 32px;
	background: url("/prj2/admin/edit.png") no-repeat;
}

.edit-category:hover {
	width: 32px;
	height: 32px;
	background: url("/prj2/admin/edit-hover.png") no-repeat;
}


/*delete*/

.delete {
	width: 32px;
	height: 32px;
	background: url("/prj2/admin/delete.png") no-repeat;
}































